
/* Resetando as tags */

/* O uso do "*" reseta todas as tags no html5, optei em criar um seletor somente das tags usadas no formulário.*/

body, main, form, h1, input, footer, span, a{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Estilizações */

/* Declarações para posição do formulário assim como outras estilizações ---------*/

body{
    background: linear-gradient(45deg,#70EE9C, #79AEA3);
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Estilos do fundo branco do form -------------------------------------------------*/

main{
    background: #fff;
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgb(0, 0, 0,.2);
    border-radius: 8px;
}


/* Dispĺay e direction vão ajudar com que o conteudo tome toda largura do pai ------ */

main form{
    display: flex;
    flex-direction: column;
    position: relative;
}

main h2{
    margin-bottom: 2rem;
    position: relative;
}


/* Sublinhado criado no h2 ------------------------------------------------------------*/

main h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 4px;
    width: 24px;
    background: linear-gradient(45deg,#70EE9C, #79AEA3);
    border-radius: 8px;
}


/* Estilização dos inputs--------------------------------------------------------------- */

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}


/* Sublinhado e animação da linha inferior ---------------------------------------------*/

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}


/* Estilo do botão submit -------------------------------------------------------------*/

input[type="submit"]{
    outline: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    background: linear-gradient(to left,#36E774, #548C81);
    margin-top: 2rem;
    padding: .4rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
}


/* Animações do botão submit ---------------------------------------------------------*/

input[type="submit"]:hover{
    letter-spacing: .5px;
    background: linear-gradient(to right,#36E774, #548C81);
    text-shadow: 0 0 5px #000;
    
}


/* Estilos do footer ------------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
footer span{
    color: rgb(0, 0, 0,.55);
    text-align: center;
    font-size: .8rem;
}


/* Estilo dos links e logos para redes sociais ---------------------------------------------*/

footer a{
    color: #fff;
    font-size: .85rem;
    font-weight: 500;
    text-decoration: none;
    padding: .4rem;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
}
footer a i{
    width: 15px;
    margin: 0 0.5rem;
}
.twitter{
    background: linear-gradient(to left, #56a7f2, #468aca);
}
.facebook{
    background: linear-gradient(to left, #1e3c72, #2a5298);
}





